---
layout: default
section: blog
---

<div class='listing col7 margin15 pad4h'>
  {% for item in site.categories.blog limit:1000 %}
    {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
    {% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}

    {% if date != ndate %}
      <h3 id="{{item.date | date: '%B %Y'}}" class='month'></h3>
    {% endif %}
    <div id="{{item.title}}" class="article clearfix">
        <div class='date'>
          <span class="dateText">{{item.date | date:"%B %d"}}</span>
        </div>
        <span class="byContainer">by</span>
        {% if item.members %}
          {% for member in site.data.members %}
            {% if member.name == {{item.members}} %}
            <img class="memberThumbnail" width="30px" height="30px" src='{{site.baseurl}}/img/members/{{member.pic}}' alt='' />
            {% endif %}
          {% endfor %}
        <strong>{{item.members}}</strong>
        {% else %}
          <img class="memberThumbnail" width="30px" height="30px" src='{{site.baseurl}}/img/gear.png' alt='' />
          <strong>SpatilDev</strong>
        {% endif %}
        <a class='item' href='{{site.baseurl}}{{item.url}}'>{{item.title  | upcase}}
        </a>

          {% if item.youtube_url %}
          {% capture youtubeurl %}{{item.youtube_url}}{% endcapture %}
              <div class="video-wrapper">
                <iframe width="100%" height="100%"
                src="//www.youtube.com/embed/{{youtubeurl}}"
                frameborder="0" allowfullscreen></iframe>
                <p><a href="//www.youtube.com/embed/{{youtubeurl}}">Full Screen</a>
              </div>
          {% endif %}

          {% if item.vimeo_url %}
          {% capture vimeourl %}{{item.vimeo_url}}{% endcapture %}
          <div class="video-wrapper">
              <iframe src="//player.vimeo.com/video/{{vimeourl}}" width="100%" height="100%" frameborder="0"
              webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              <p><a href="//player.vimeo.com/video/{{vimeourl}}">Full Screen</a>
              </div>
          {% endif %}

          {% if item.splash %}
            {% if item.splash contains 'http' %}
              {% capture url %}{{item.splash}}{% endcapture %}
            {% else %}
              {% capture url %}{{site.baseurl}}{{item.splash}}/{% endcapture %}
            {% endif %}

            <div class='splash'>
              <a href="{{site.baseurl}}{{item.url}}"><img width="100%" src='{{url}}' alt='' /></a>
            </div>

          {% endif %}

        {% if item.summary %}
        <div class="summeryText" >{{ item.summary }}<a href="{{site.baseurl}}{{item.url}}"><br><span>read more</span><a></div>
        {% endif %}

        {% if item.tags != empty %}
          {% for item in item.tags %}
          <a class="label label-info" href="{{site.baseurl}}/tags/{{ item }}"><i class="fa fa-tags"></i>  {{ item }}</span></a>
          {% endfor %}
        {% endif %}
      </div>
      {% endfor %}

</div>
<div class='col9 margin15 pad4'>
  <a href=''></a>
</div>
